#logo {
    height: auto;
    width: 150px;

}

#menu {
    height: 80px;
    width: 100%;
}

img:hover {
    cursor: pointer;
}

mat-sidenav {
    width: 200px;
}

a {
    text-decoration: none;
    color:black;
}

a:hover, a:active {
    color: white;
}




